 /*color pallette https://goo.gl/EnpMdo*/

 @import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Oswald');

 body {
     font-family: 'Old Standard TT', serif;
     width: auto;
 }

 h1,
 h2,
 h3,
 .h1,
 .h2,
 .h3 {
     font-family: 'Oswald', sans-serif;
 }

 #current-word {
     letter-spacing: .3em;
  
 .container {
     min-width: 560px;
 }

 header .container {
     background-color: #506546;
 }