 /*color pallette https://goo.gl/EnpMdo*/

 @import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Oswald');

 * {
     box-sizing: border-box;
 }

 body {
     font-family: 'Old Standard TT', serif;
     font-size: 18px;
     color: #555;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: 'Oswald', sans-serif;
 }

 p {
     margin: 1em 0;
 }

 .container {
     margin: 0 auto;
     padding: 15px;
 }

 main {
     /*same as header height*/
     margin-top: 80px;
 }

 header {
     position: fixed;
     top: 0;
     height: 80px;
     width: 100%;
     background-color: #79986A;
     color: #fff;
 }

 header h1 {
     font-size: 2em;
 }

 #current-word {
     letter-spacing: .5em;
 }